<mat-toolbar color="primary" class="sticky">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <button mat-button routerLink='/'>
          <mat-icon>home</mat-icon>
          <span class="logo">Box Commerce</span>
        </button>
        <div *ngIf="!deviceXs" fxLayout="row">
          <button mat-button routerLink='/currency'>Currency</button>
          <button mat-button routerLink='/unit'>Unit</button>
        </div>
      </div>
      <div>
        <button *ngIf="deviceXs" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button
          *ngIf="!deviceXs"
          mat-button
          [matMenuTriggerFor]="menu"
          fxLayoutAlign="end"
        >
          Menu
        </button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
        <button mat-button routerLink='/currency'>Currency</button>
        <button mat-button routerLink='/unit'>Unit</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- Menu Items -->
  <mat-menu #menu="matMenu" fxLayoutAlign="end">
    <button mat-menu-item routerLink='/currency'>Currency</button>
    <button mat-menu-item routerLink='/unit'>Unit</button>
    <ng-container *ngIf="isLoggedIn">
        <button mat-menu-item (click)="logOut()">Logout</button>
    </ng-container>

  </mat-menu>